<%= turbo_frame_tag post do %>
  <%= render "shared/errors", resource: post %>

  <%= form_with(model: [post.chat, post]) do |form| %>
    <div>
      <%= form.label "Enter your message:" %>
      <%= form.text_area :body, required: true, minlength: 1, class: "w-100" %>
    </div>

    <div class="mt-2">
      <%= form.submit 'Save', class: "btn btn-danger w-100" %>
    </div>
  <% end %>
<% end %>
