<%= turbo_frame_tag post do %>
  <div class='sticky-top bg-primary-subtle p-2 rounded'>
    <%= render "shared/errors", resource: post %>

    <%= form_with(model: [post.chat, post]) do |form| %>
      <div>
        <%= form.label "Enter your message:" %>
        <%= form.text_area :body, required: true, minlength: 1, class: "w-100" %>
      </div>

      <div class="d-flex mt-2">
        <%= link_to "Cancel", chat_path(post.chat), class: "me-2 btn btn-secondary" %>
        <%= form.submit 'Save', class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>
<% end %>
