<%= turbo_frame_tag post do %>
  <%= render "shared/errors", resource: post %>

  <%= form_with(model: [post.chat, post]) do |form| %>
    <p>Enter your message:</p>
    <div>
      <p><%= form.text_field :body, required: true, minlength: 1 %></p>
    </div>

    <div>
      <%= form.submit 'Save' %>
    </div>
  <% end %>
<% end %>
